$color__main: #512f11;
$color__white: #FFF;
$color__highlight: #e4af20;

$color__text: $color__main;

$color__button: #512f11;

// Golden Tones
$color__gold_1: $color__highlight;
$color__gold_2: #ef9913;
$color__gold_3: #ca7107;