/* Testimonial Widget */
.testimonial-widget {
    
    .testimonial {
        position: relative;
        @include font-size(1.7);
        
        span {
            opacity: 0.6;
            @include transition-all(300ms);
            font-style: italic;
        }
        
        &:hover {
            span {
                opacity: 0.9;
            }
        }
        
        &:before {
            top: -15px;
            left: -90px;
            content: ' ';
            position: absolute;
            display: block;
            background: url('assets/quote-icon.png') no-repeat;
            background-size: contain;
            width: 60px;
            height: 60px;
            opacity: 0.1;
        }
        
        &:after {
            bottom: -15px;
            right: -90px;
            content: ' ';
            position: absolute;
            display: block;
            background: url('assets/quote-icon.png') no-repeat;
            background-size: contain;
            width: 60px;
            height: 60px;
            opacity: 0.1;
            @include transform ( rotate(180deg) );
        }
        
        @include respond-to(800px) {
            span {
                display: block;
                margin: 10%;
            }
            &:before {
                left: 10px;
                top: -20px;
            }
            
            &:after {
                right: 10px;
                bottom: -20px;
            }
        }
    }
    
    .name {
        text-align: left;
        @include font-size(1.4);
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        
        &:before {
            content: '--';
            margin-right: 15px;
        }
        
        @include respond-to(800px) {
            margin-left: 10%;
        }
    }
    
}